a:link{
    color: rgb(56, 219, 102);
}
a:hover{
    color: rgb(255, 0, 0);
    font-size: 50px;
}
a:active{
    color: rgb(0, 0, 255);
}
a:visited{
    color: rgb(254, 169, 175);
}

h1::first-letter{
    color: rgb(255, 0, 0);
    font-size: 50px;
}
p::first-line{
    color: plum;
    font-size: 10px;
    background-color: rgb(236, 240, 11);
}


#apple::after{
    content:"🍎"
}
#banana::after{
    content:"🍌"
}
#orange::after{
    content:"🍊"
}