.pagination{
    text-align: center;
    text-decoration: none;
    text-decoration-color: black;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
}