body{
    background-image: url(chess.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;
}